<% provide(:title, "About Us") %>
<section class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="aboutus-image-wrapper">
                    <%= image_tag "logo2", width:"220", height:"113", alt:"ASLogo2", title:"ASLogo2"%>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="aboutus-inner-left">
                    <div class="aboutus-wrapper-left">
                        <h3 class="aboutus-h3">What is Area Scouts?</h3>

                        <p class="aboutus-p">
                            Area Scouts ™ is a one-of-a-kind nation-wide
                            platform, with an emphasis on overall athlete health and development.
                        </p>

                        <p class="aboutus-p">
                            Area Scouts provides athletes with a state of the art
                            assessment, an athlete development program/score, and professional evaluations.
                            Through our innovative B.A.S.E. Assessment™, and Professional grade scouting
                            reports, athletes will be given specific tools to enhance their skill set and
                            achieve success.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="aboutus-inner-right">
                    <div class="aboutus-programs">
                        <h3 class="aboutus-h3">Our Programs Includes</h3>
                    </div>

                    <div class="aboutus-programs mt-5">
                        <h5 class="aboutus-p">
                            <strong>Area Scouts Athlete Development Score™</strong>
                        </h5>
                    </div>

                    <div class="aboutus-programs mt-1">
                        <h5 class="aboutus-p">
                            <strong>Pro Grade Scouting Report</strong>
                        </h5>
                    </div>

                    <div class="aboutus-programs mt-1">
                        <h5 class="aboutus-p">
                            <strong>Area Scouts Rank™</strong>
                        </h5>
                    </div>

                    <div class="aboutus-programs mt-1">
                        <h5 class="aboutus-p">
                            <strong>Area Scouts Health and Performance Score™</strong>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="aboutbase-section">
    <div class="container">
        <h3 class="aboutbase-h3">About B.A.S.E. ™</h3>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2 class="aboutbase-h2">
                    B.A.S.E. ™ ORIGIN
                </h2>
                <div class="aboutbase-wrapper">
                    <div
                        style="background: #f4f5f8; text-align: center; font-style: italic; padding: 60px 60px 45px; font-size: 18px; line-height: 30px;">
                        <p>B.A.S.E. was created through a collaboration of Physicians, Physical Therapists, and
                            numerous Sports Industry Professionals. In conjunction with the Area Scouts
                            platform, B.A.S.E. will provide every athlete with all of the tools necessary in
                            order to succeed at the next level.</p>
                        <div style="background: #404040; height: 1px; width: 100px; margin: 0 auto;"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2 class="aboutbase-h2">
                    WHAT DOES B.A.S.E. ™ DO?
                </h2>
                <div class="aboutbase-wrapper">
                    <div
                        style="background: #f4f5f8; text-align: center; font-style: italic; padding: 60px 60px 45px; font-size: 18px; line-height: 30px;">
                        <p>The B.A.S.E. assessment will provide every athlete with a completed outline of their overall
                            physical foundation. The B.A.S.E. assessment reviews the body from the ground up and
                            provides essential feedback in order to maintain athlete health, and to continue developing
                            athletic performance.
                        </p>
                        <div style="background: #404040; height: 1px; width: 100px; margin: 0 auto;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="platform-section">
    <div class="container">
        <div class="platform-header">
            <h3 class="platform-h3">THE PLATFORM</h3>
        </div>

        <div class="platform-content">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                    <div class="platform-wrapper">
                        <h4 class="platform-h4">B.A.S.E.<br>ASSESSMENT REVIEW</h4>
                        <p class="platform-p">
                            <strong>
                                Area
                                Scouts provides each athlete with a comprehensive movement screen and
                                athletic assessment. These evaluations are followed up by a series a
                                corrective measures provided to each athlete by leading Doctors of Physical
                                Therapy, Certified Strength and Conditioning Coaches, Orthopedists, and
                                numerous Industry Professionals
                            </strong>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 mmt-10 mb-4">
                    <div class="platform-img-wrapper">
                        <%= image_tag "platform1", class:"platform-img", alt:"b.a.s.e-assessment-review" %>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 mmt-10 mb-4">
                    <div class="platform-img-wrapper">
                        <%= image_tag "platform2", class:"platform-img", alt:"b.a.s.e-assessment-review" %>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                    <div class="platform-wrapper">
                        <h4 class="platform-h4">On Field Assessment (13+)</h4>
                        <p class="platform-p">
                            <strong>
                                Every premium athlete will have the
                                opportunity to perform an on-field assessment that will be evaluated and graded using a
                                series of benchmarks and position-specific objectives developed by our Team of
                                Directors. Athletes will be provided with the proper guidance and exercises in
                                real-time, so that they can have the best chance to improve upon areas that need help or
                                to build upon their current skill set.
                            </strong>
                        </p>
                    </div>
                </div>


                <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                    <div class="platform-wrapper">
                        <h4 class="platform-h4">YOUTH DEVELOPMENT PROGRAM (12U)</h4>
                        <p class="platform-p">
                            <strong>
                                Athletes 12 years old and under will be able to showcase all their on-field skills in a
                                fun and exciting manner. They will learn all about the way they move and will receive
                                video-based coaching and training on how to improve their fundamentals from current and
                                former professional athletes and coaches. Our youngest players will also have the chance
                                to learn about the data and analytics that are currently being used at all levels of
                                their respective sports today
                            </strong>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 mmt-10 mb-4">
                    <div class="platform-img-wrapper">
                        <%= image_tag "platform3", class:"platform-img", alt:"b.a.s.e-assessment-review" %>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 mmt-10 mb-4">
                    <div class="platform-img-wrapper">
                        <%= image_tag "platform4", class:"platform-img", alt:"b.a.s.e-assessment-review" %>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                    <div class="platform-wrapper">
                        <h4 class="platform-h4">PROFESSIONAL GRADE SCOUTINGREPORT (13+)</h4>
                        <p class="platform-p">
                            <strong>
                                Athletes 13 and older and their families will have the option to receive a professional
                                grade scouting report. These reports are written by Professional Scouts with years of
                                experience at the highest levels and can be shared through the platform as desired, in
                                order to maximize exposure to coaches, recruiters, and scouts
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>
<%= render "layouts/shared"%>