<% provide(:title, "Athlete Assessment") %>
<section class="platform-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="aboutus-image-wrapper">
                    <%= image_tag "logo2", width:"220", height:"113", alt:"ASLogo2", title:"ASLogo2"%>
                </div>
            </div>
        </div>
        <div class="platform-header">
            <h3 class="platform-h3">THE PLATFORM</h3>
        </div>

        <div class="platform-content">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                    <div class="platform-wrapper">
                        <h4 class="platform-h4">B.A.S.E.<br>ASSESSMENT REVIEW</h4>
                        <p class="platform-p">
                            <strong>
                                Area
                                Scouts provides each athlete with a comprehensive movement screen and
                                athletic assessment. These evaluations are followed up by a series a
                                corrective measures provided to each athlete by leading Doctors of Physical
                                Therapy, Certified Strength and Conditioning Coaches, Orthopedists, and
                                numerous Industry Professionals
                            </strong>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 mmt-10 mb-4">
                    <div class="platform-img-wrapper">
                        <%= image_tag "platform1", class:"platform-img", alt:"b.a.s.e-assessment-review" %>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 mmt-10 mb-4">
                    <div class="platform-img-wrapper">
                        <%= image_tag "platform2", class:"platform-img", alt:"b.a.s.e-assessment-review" %>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                    <div class="platform-wrapper">
                        <h4 class="platform-h4">On Field Assessment (13+)</h4>
                        <p class="platform-p">
                            <strong>
                                Every premium athlete will have the
                                opportunity to perform an on-field assessment that will be evaluated and graded using a
                                series of benchmarks and position-specific objectives developed by our Team of
                                Directors. Athletes will be provided with the proper guidance and exercises in
                                real-time, so that they can have the best chance to improve upon areas that need help or
                                to build upon their current skill set.
                            </strong>
                        </p>
                    </div>
                </div>


                <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                    <div class="platform-wrapper">
                        <h4 class="platform-h4">YOUTH DEVELOPMENT PROGRAM (12U)</h4>
                        <p class="platform-p">
                            <strong>
                                Athletes 12 years old and under will be able to showcase all their on-field skills in a
                                fun and exciting manner. They will learn all about the way they move and will receive
                                video-based coaching and training on how to improve their fundamentals from current and
                                former professional athletes and coaches. Our youngest players will also have the chance
                                to learn about the data and analytics that are currently being used at all levels of
                                their respective sports today
                            </strong>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 mmt-10 mb-4">
                    <div class="platform-img-wrapper">
                        <%= image_tag "platform3", class:"platform-img", alt:"b.a.s.e-assessment-review" %>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 mmt-10 mb-4">
                    <div class="platform-img-wrapper">
                        <%= image_tag "platform4", class:"platform-img", alt:"b.a.s.e-assessment-review" %>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                    <div class="platform-wrapper">
                        <h4 class="platform-h4">PROFESSIONAL GRADE SCOUTINGREPORT (13+)</h4>
                        <p class="platform-p">
                            <strong>
                                Athletes 13 and older and their families will have the option to receive a professional
                                grade scouting report. These reports are written by Professional Scouts with years of
                                experience at the highest levels and can be shared through the platform as desired, in
                                order to maximize exposure to coaches, recruiters, and scouts
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>
<%= render "layouts/shared"%>