<% provide(:title, "Baseball") %>
<section class="baseball-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="baseball-image-wrapper">
                    <%= image_tag "logo2", width:"220", height:"113", alt:"ASLogo2", title:"ASLogo2"%>
                </div>
                <div class="baseball-header">
                    <h2 class="decorated"><span>OUR BASEBALL TEAM</span></h2>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="baseball-member-wrapper">
                    <p>
                        <%= image_tag "pic3", class:"baseball-profile-pic" %>
                    </p>
                    <h4 class="baseball-h4">FRED MCGRIFF</h4>
                    <h5 class="baseball-h5">BASEBALL – SENIOR ADVISOR OF HITTING</h5>
                    <p class="baseball-p">
                        Fred McGriff is a 5-Time MLB All Star, 3-Time Silver Slugger, MLB World Series Champion, 2x Home
                        Run Leader, a career .284 hitter who had 2,940 hits with 493 home runs. Fred comes to Area
                        Scouts with 19 years of Major League Baseball playing experience as one of the best Home Run
                        hitters in the history of the game.
                    </p>
                    <p class="baseball-p">
                        Fred was born in Tampa, Florida in 1963. Was drafted by the New York Yankees in the 9th round in
                        the 1981 amateur baseball draft. He made his Major League Debut in 1986 for the Toronto Blue
                        Jays. Fred is extremely excited to give back to the Athletes on the Area Scouts Platform and
                        share his extensive knowledge about hitting, approach, and the mental toughness it takes to be a
                        star.
                    </p>
                </div>

                <div class="baseball-member-wrapper mt-5 mmt">
                    <p>
                        <%= image_tag "brian", class:"baseball-profile-pic" %>
                    </p>
                    <h4 class="baseball-h4">BRIAN BURGAMY</h4>
                    <h5 class="baseball-h5">BASEBALL – ASSOCIATE DIRECTOR OF HITTING</h5>
                    <p class="baseball-p">
                        Brian Burgamy comes to Area Scouts after 3 seasons as a hitting coach in the St Louis Cardinals
                        organization and 16 seasons playing professionally. Brian’s experience in professional baseball
                        is substantial as he has played in nearly 2,000 professional games, had over 8,000 plate
                        appearances, and played for 25 different teams, 4 organizations, and in 6 different countries.
                    </p>
                    <p class="baseball-p">
                        Born in Lawton, Oklahoma, Brian was originally drafted in the 9th round of the 2002 MLB Amateur
                        draft by the San Diego Padres after attending Wichita St. University where he earned All
                        American honors in 2002 and recently in 2018 was inducted into the Shocker Hall of Fame. Brian
                        is very excited and honored to share his 20 years of knowledge and experience in the art of
                        hitting with Area Scouts evaluators and athletes.
                    </p>
                </div>

                <div class="baseball-member-wrapper mt-5 mmt">
                    <p>
                        <%= image_tag "gregorio", class:"baseball-profile-pic" %>
                    </p>
                    <h4 class="baseball-h4">GREGORIO PETIT</h4>
                    <h5 class="baseball-h5">BASEBALL – NATIONAL DIRECTOR OF FIELDING</h5>
                    <p class="baseball-p">
                        Born in Venezuela and currently living outside of Houston, Texas, Gregorio Petit played seven
                        different positions over the course of his Major League career and finished with a career
                        fielding percentage of (.978). Gregorio entered professional baseball in 2003 as an 18-year-old
                        and played 16 seasons including parts of 6 of those seasons in the Major Leagues with five
                        different teams. He made his Major League Debut with the Oakland Athletics in 2008.
                    </p>
                    <p class="baseball-p">
                        Gregorio is excited to share his knowledge with the Area Scouts family as we look to build the
                        most efficient and consistent fielders all over the world. He believes that pre-pitch routine is
                        vital to becoming the best fielder possible.
                    </p>
                </div>

                <div class="baseball-member-wrapper mt-5 mmt">
                    <p>
                        <%= image_tag "mike", class:"baseball-profile-pic" %>
                    </p>
                    <h4 class="baseball-h4">MIKE MEDICI</h4>
                    <h5 class="baseball-h5">BASEBALL – NATIONAL DIRECTOR OF SCOUTING</h5>
                    <p class="baseball-p">
                        Mike Medici has worked in Major League Baseball for over 10 years as a Major League Scout. In
                        January of 2020, created an unmatched scouting training and certification program that is
                        currently being used by Area Scouts Evaluators and Scouts to learn the ins and outs of on-field
                        player evaluation. Mike’s years of experience provides an invaluable resource to our Evaluators
                        to be able to objectively and fairly provide our athletes with Professional Grade Scouting
                        Reports.
                    </p>
                    <p class="baseball-p">
                        Mike also worked as First Assistant Coach for the Canisius College Baseball team from 2007-09
                        and got his start at the College of Saint Rose as Assistant Coach in 2006. Mike graduated from
                        Niagara University in 2006 with his bachelor’s degree in Sports Management. Receiving two
                        different master’s degrees from Canisius College in Sports Administration and Education
                        Technologies & Emerging Media.
                    </p>
                    <p class="baseball-p">
                        Mike is also the Regional Evaluator for the State of Indiana.
                    </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="baseball-member-wrapper">
                    <p>
                        <%= image_tag "pic2", class:"baseball-profile-pic" %>
                    </p>
                    <h4 class="baseball-h4">JOSH ZEID</h4>
                    <h5 class="baseball-h5">BASEBALL – SENIOR ADVISOR OF PITCHING</h5>
                    <p class="baseball-p">
                        Former Major League Pitcher Josh Zeid comes to Area Scouts with more than 12 years of experience
                        both playing and working in professional baseball. Josh played in the Major Leagues with the
                        Houston Astros in 2013 and 2014 and was also a pivotal member of the Team Israel World Baseball
                        Classic team that went 4-2 in the 2017 WBC. Josh was named to the All-World Baseball Classic
                        Team in that tournament along-side Marcus Stroman, Yadier Molina, and Javier Baez after throwing
                        10 scoreless innings and striking out 10 as well.
                    </p>
                    <p class="baseball-p">
                        Josh is the perfect fit for our National Director of Pitching position as he pitched 347 career
                        games professionally, 70 of those as a starter, and 277 as a middle reliever, set-up man, and
                        closer. He has also worked in professional baseball the last two years as a rehab pitching
                        coordinator and has focused his attention and studies on return to play protocols, return to
                        play throwing programming, and the biomechanics of the pitching delivery.
                    </p>
                    <p class="baseball-p">
                        Josh played collegiately at both Vanderbilt University and Tulane University and graduated with
                        his degree in English and Political Science. He was drafted in the 10th round by the
                        Philadelphia Phillies in the 2009 Major League Baseball Amateur Player Draft after going 6-0 as
                        a senior as a Green Wave.
                    </p>
                    <p class="baseball-p">
                        Josh is also the Regional Evaluator for the State of Arizona.
                    </p>
                </div>
                <div class="baseball-member-wrapper mt-5 mmt">
                    <p>
                        <%= image_tag "lenny", class:"baseball-profile-pic" %>
                    </p>
                    <h4 class="baseball-h4">LENNY DINARDO</h4>
                    <h5 class="baseball-h5">BASEBALL – ASSISTANT PITCHING DIRECTOR (NORTHEAST)</h5>
                    <p class="baseball-p">
                        Born in Miami, Florida, Lenny Dinardo was drafted in 3rd round of the 2001 MLB Amateur player
                        Draft to the New York Mets. Lenny made his Major League debut with the Boston Red Sox during
                        their World Series run of 2004. Over the next five years Lenny played for the Oakland Athletics
                        and Kansas City Royals throwing in more than 250 innings as a Major Leaguer.
                    </p>
                    <p class="baseball-p">
                        Lenny brings extensive experience to his role as Assistant Pitching Director as he has pitched
                        as a starter, reliever, and lefty specialist at the highest level. Lenny has also played
                        baseball on the international stage for both Team USA and Team Italy throughout his career.
                        Lenny attended Stetson University out of high school, and he currently works for NESN as an
                        in-studio baseball analyst.
                    </p>
                </div>
                <div class="baseball-member-wrapper mt-5 mmt">
                    <p>
                        <%= image_tag "ryan", class:"baseball-profile-pic" %>
                    </p>
                    <h4 class="baseball-h4">RYAN LAVARNWAY</h4>
                    <h5 class="baseball-h5">BASEBALL – NATIONAL DIRECTOR OF CATCHING</h5>
                    <p class="baseball-p">
                        California native Ryan Lavarnway is currently in the middle of an 8-year Major League Baseball
                        career. He has played in the Major Leagues for 7 teams including the Red Sox where he was part
                        of the World Series winning team in 2013. Ryan has caught almost 700 games in his professional
                        career and is eager to share his knowledge in framing, blocking, receiving, throwing, and
                        pitch-calling with all the evaluators and Area Scouts athletes.
                    </p>
                    <p class="baseball-p">
                        Ryan also played Outfield at Yale University where he hit .476 as a sophomore and paired that
                        with an All-Time Ivy League Record 33 home runs in 2007. In 2017 Ryan played for Team Israel
                        World Baseball Classic and was named MVP of the South Korea Regional in the opening round of the
                        tournament.
                    </p>
                    <p class="baseball-p">
                        Ryan is also the Regional Evaluator for the State of Colorado.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<%= render "layouts/shared"%>