<% provide(:title, "Board") %>
<section class="board-members">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="board-image-wrapper">
                    <%= image_tag "logo2", width:"220", height:"113", alt:"ASLogo2", title:"ASLogo2"%>
                </div>
                <div class="board-header">
                    <h2 class="decorated"><span>Area Scouts Board Members</span></h2>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="board-member-wrapper fixed-height">
                    <p>
                        <%= image_tag "pic1", class:"board-profile-pic" %>
                    </p>
                    <h4 class="board-h4">Lance Baldwin</h4>
                    <h5 class="board-h5">CEO</h5>
                    <p class="board-p">Lance Baldwin knows that it requires a professional,
                        talented, and educated team behind him, in order to create and implement an industry
                        changing program. This is his 10<sup>th</sup> year designing and developing Area
                        Scouts™, which is an athlete health initiative platform, specializing in developing
                        athletes through efficient movement and metrics. Lance possesses 35+ years of experience
                        in business, client relations, technology, software design, and development. As a 15+
                        year multi-sport coach, most recently coaching youth sports the past 10 years, he
                        quickly recognized the urgent need for health awareness, professional resources, and
                        ongoing education, that could be offered to every athlete / parent, at an incredibly
                        affordable price.
                    </p>
                    <p class="board-p">
                        Lance is excited to lead the future of Area Scouts, with an
                        optimal team behind him that will help to prevent countless injuries, and to be able to
                        provide every athlete, in all sports, with the foundation, guidance, and resources to
                        achieve success at the next level.
                    </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="board-member-wrapper fixed-height">
                    <p>
                        <%= image_tag "pic2", class:"board-profile-pic" %>
                    </p>
                    <h4 class="board-h4">Josh Zeid</h4>
                    <h5 class="board-h5">CSO</h5>
                    <p class="board-p">
                        Josh Zeid enjoyed a 10-year professional career spanning six different organizations. He played
                        for the Houston Astros in the Major Leagues in 2013 and 2014. Josh may best be known for his
                        2017 appearance on Team Israel in the World Baseball Classic where he threw 10 innings and did
                        not allow a run while striking out 10. Josh began his collegiate career at Vanderbilt University
                        where he studied Human Organization and Development, and completed his studies at Tulane
                        University, graduating with his Degree in English and Political Science.
                    </p>
                    <p class="board-p">
                        Josh is excited to take on the role as Strategy and Operations Officer to help build out Area
                        Scouts partnerships, brand awareness, marketing strategies, and Area Scouts positisonal director
                        leadership.
                    </p>
                </div>
            </div>
        </div>





        <div class="row">
            <div class="col-12">
                <div class="board-image-wrapper2">
                    <%= image_tag "logo2", width:"220", height:"113", alt:"ASLogo2", title:"ASLogo2"%>
                </div>
                <div class="board-header">
                    <h2 class="decorated"><span>AREA SCOUTS ADVISORY BOARD</span></h2>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="board-member-wrapper fixed-height-2">
                    <p>
                        <%= image_tag "pic3", class:"board-profile-pic" %>
                    </p>
                    <h4 class="board-h4">FRED MCGRIFF</h4>
                    <h5 class="board-h5">BASEBALL – SENIOR ADVISOR OF HITTING</h5>
                    <p class="board-p">
                        Fred McGriff is a 5-Time MLB All Star, 3-Time Silver Slugger, MLB World Series Champion, 2x Home
                        Run Leader, a career .284 hitter who had 2,940 hits with 493 home runs. Fred comes to Area
                        Scouts with 19 years of Major League Baseball playing experience as one of the best Home Run
                        hitters in the history of the game.
                    </p>
                    <p class="board-p">
                        Fred was born in Tampa, Florida in 1963. Was drafted by the New York Yankees in the 9th round in
                        the 1981 amateur baseball draft. He made his Major League Debut in 1986 for the Toronto Blue
                        Jays. Fred is extremely excited to give back to the Athletes on the Area Scouts Platform and
                        share his extensive knowledge about hitting, approach, and the mental toughness it takes to be a
                        star.
                    </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 fixed-height-2">
                <div class="board-member-wrapper">
                    <p>
                        <%= image_tag "pic2", class:"board-profile-pic" %>
                    </p>
                    <h4 class="board-h4">Josh Zeid</h4>
                    <h5 class="board-h5">BASEBALL – Senior Advisor Of Pitching</h5>
                    <p class="board-p">
                        Former Major League Pitcher Josh Zeid comes to Area Scouts with more than 12 years of experience
                        both playing and working in professional baseball. Josh played in the Major Leagues with the
                        Houston Astros in 2013 and 2014 and was also a pivotal member of the Team Israel World Baseball
                        Classic team that went 4-2 in the 2017 WBC. Josh was named to the All-World Baseball Classic
                        Team in that tournament along-side Marcus Stroman, Yadier Molina, and Javier Baez after throwing
                        10 scoreless innings and striking out 10 as well.
                    </p>
                    <p class="board-p">
                        Josh is the perfect fit for our National Director of Pitching position as he pitched 347 career
                        games professionally, 70 of those as a starter, and 277 as a middle reliever, set-up man, and
                        closer. He has also worked in professional baseball the last two years as a rehab pitching
                        coordinator and has focused his attention and studies on return to play protocols, return to
                        play throwing programming, and the biomechanics of the pitching delivery.
                    </p>
                    <p class="board-p">
                        Josh played collegiately at both Vanderbilt University and Tulane University and graduated with
                        his degree in English and Political Science. He was drafted in the 10th round by the
                        Philadelphia Phillies in the 2009 Major League Baseball Amateur Player Draft after going 6-0 as
                        a senior as a Green Wave.
                    </p>
                    <p class="board-p">
                        Josh is also the Regional Evaluator for the State of Arizona.
                    </p>
                </div>
            </div>

            <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-12 mt-5">
                <div class="board-member-wrapper">
                    <p>
                        <%= image_tag "pic4", class:"board-profile-pic" %>
                    </p>
                    <h4 class="board-h4">JOHN FULGHAM</h4>
                    <h5 class="board-h5">BASEBALL – ADVISORY BOARD</h5>
                    <p class="board-p">
                        Few people get to fulfill the childhood dream of playing for their hometown team, but John
                        Fulgham did just that. Fulgham was born in St. Louis and grew up as a diehard Cardinals fan,
                        idolizing some of the players he would very quickly be playing with on the same field.
                    </p>
                    <p class="board-p">
                        Fulgham has been around sports his entire life. As a youth he excelled in soccer, football and
                        baseball. Having been named All American in both football and baseball, he moved on to play
                        collegiately for two Hall of Fame baseball coaches: Gary Ward at Yavapai CC and Ron Fraser at
                        the University of Miami. At Miami, he set a record which still stands today for the lowest
                        Earned Run Average in a season (0.54). While in college he was drafted in the first round twice.
                        First by the New York Yankees and then ultimately signing with the St. Louis Cardinals as the
                        15th player taken in the draft.
                    </p>
                    <p class="board-p">
                        In his first full year in professional baseball, he won 18 games, with 17 complete games and was
                        named to the Topps Minor-League All-Star Team. In the Florida Fall League that same year, he
                        went 5-0 and was named to the All-League Team. He quickly catapulted into the St. Louis
                        Cardinals starting rotation and was named Rookie of the Year by the St. Louis sportswriters.
                        Although his major league career was shortened by a rotator cuff injury, it was a successful
                        one. His total statistical line in MLB of 231 1/3 innings pitched, 14 wins, 14 complete games,
                        three shutouts, 2.84 ERA, 1.068 WHIP, and a 5.0 pitching WAR reads like the season of a Cy Young
                        Award contender.
                    </p>
                    <p class="board-p">
                        With one career ended it was time to start another. After stints as a broadcaster on radio and
                        television, it was time to pursue a career in coaching. After stints assisting at Florida State
                        and the University of Central Oklahoma – Fulgham became the Head Coach of Division II power
                        Rollins College. In less than one year, Fulgham led Rollins from a losing record the year prior
                        to a school record 46 wins, DII Regional berth and its only Number #1 national ranking in
                        history after wins on the road against the University of Florida and his alma mater the
                        University of Miami.
                    </p>
                    <p class="board-p">
                        Fulgham has over 30 years of sports coaching experience. Having coached everything from
                        beginners to elite youth to collegiate to professional athletes. In addition to his baseball
                        expertise, he is also a certified ASA Softball coach as well as having a National Coaching
                        License for Soccer. He helped many athletes (male and female) make the jump from recreational to
                        elite, from elite to college, and from college to professional sports.
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>





<%= render "layouts/shared"%>