<% provide(:title, "Directors/Operations") %>
<section class="directors-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="directors-image-wrapper">
                    <%= image_tag "logo2", width:"220", height:"113", alt:"ASLogo2", title:"ASLogo2"%>
                </div>
                <div class="directors-header">
                    <h2 class="decorated"><span>Directors / Operations</span></h2>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="directors-member-wrapper fixed-height">
                    <p>
                        <%= image_tag "pic5", class:"directors-profile-pic" %>
                    </p>
                    <h4 class="directors-h4">ANTHONY INZILLO</h4>
                    <h5 class="directors-h5">DIRECTOR OF SPORTS MEDICINE AND PERFORMANCE</h5>
                    <p class="directors-p">
                        Anthony Inzillo is a Doctor of Physical Therapy, while also holding certifications as Strength
                        and Conditioning Coach and Sports Certified Specialist who excels in the rehabilitation of
                        high-level athletes. Anthony has most recently worked as a Physical Therapist in the Alliance of
                        American Football, and with the Atlanta Falcons of the National Football League, and the XFL.
                    </p>
                    <p class="directors-p">
                        Prior to working full-time in professional football, he was the primary Physical Therapist for
                        world-renowned orthopedic surgeon, Dr. James Andrews. With his mentorship, he provided world
                        class care for countless high school, college, and professional athletes and was a leader in
                        developing guidelines and protocols for rehabilitation, interval sports programs, and functional
                        testing.
                    </p>
                    <p class="directors-p">
                        With Anthony’s background and versatility within all stages of rehab from immediate post-op
                        through the return to play phase he is spearheading our B.A.S.E. Assessment, which will set the
                        foundation for all of our athletes. His main interests are injury prevention, assessing and
                        resolving movement dysfunction, rehabilitating injuries and their underlying causes, and
                        optimizing athletic performance. He has helped hundreds of athletes successfully return to
                        sports and is eager to continue doing so.
                    </p>
                    <p class="directors-p">
                        Anthony earned his Bachelor’s degree from University of Delaware in 2009 and graduated in 2012
                        from the University of Delaware as a Doctor of Physical Therapy.
                    </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="directors-member-wrapper fixed-height">
                    <p>
                        <%= image_tag "pic6", class:"directors-profile-pic" %>
                    </p>
                    <h4 class="directors-h4">BRANDON GUYER</h4>
                    <h5 class="directors-h5">DIRECTOR OF MENTAL PERFORMANCE AND NUTRITION</h5>
                    <p class="directors-p">
                        With 13 years of professional baseball under his belt, including 7 as a big league player,
                        Brandon is excited to share his wealth of knowledge and experience with the Area Scouts
                        community.
                        Guyer is recognized as a Hall of Fame baseball player at both Herndon High School and the
                        University of Virginia.
                        In 2011 Brandon made his MLB debut and hit a 2-run homerun in his first at-bat, becoming the
                        first Ray and 108th player in MLB history to do so.
                    </p>
                    <p class="directors-p">
                        After 4 years in Tampa, the Rays dealt Guyer to the Cleveland Indians at the trade deadline in
                        2016. In his three seasons in Cleveland, the Indians were AL Central Champs three times and AL
                        Champions in 2016.
                        Guyer retired in 2020, following seven seasons of big league ball. He made a name for himself as
                        a lefty masher, slashing a career .274/.376/.449. He also retired as MLB’s “hit by pitch king.”
                        A couple months later, Brandon started his online training platform Fully Equipped Athlete and
                        has since become a Precision Nutrition Certified Coach, NESTA Certified Sports Nutritionist and
                        a Brian Cain Certified Mental Performance Mastery Coach. The mission behind FEA is to help
                        athletes bridge the gap between performance and potential with good nutrition and an elite
                        mindset.
                    </p>
                </div>
            </div>

            <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-12 mt-5">
                <div class="directors-member-wrapper">
                    <p>
                        <%= image_tag "pic7", class:"directors-profile-pic" %>
                    </p>
                    <h4 class="directors-h4">BRYAN MURRAY</h4>
                    <h5 class="directors-h5">DIRECTOR OF BASEBALL OPERATIONS</h5>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 mt-5">
                <div class="directors-member-wrapper">
                    <h4 class="directors-h4">RAHMAN TURNER</h4>
                    <h5 class="directors-h5">MARKETING AND DIGITAL MEDIA COORDINATOR</h5>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 mt-5">
                <div class="directors-member-wrapper">
                    <h4 class="directors-h4">MEGAN HENDERSON</h4>
                    <h5 class="directors-h5">MARKETING CAMPAIGN STRATEGIST</h5>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 mt-5">
                <div class="directors-member-wrapper">
                    <h4 class="directors-h4">TIM HOLLENBACK</h4>
                    <h5 class="directors-h5">PODCAST COORDINATOR</h5>
                </div>
            </div>




            <div class="col-lg-6 col-md-6 col-sm-12 mt-5">
                <div class="directors-member-wrapper">
                    <h4 class="directors-h4">SUSAN ALEXANDER</h4>
                    <h5 class="directors-h5">COMPTROLLER</h5>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 mt-5">
                <div class="directors-member-wrapper">
                    <h4 class="directors-h4">JUANITA PEREZ</h4>
                    <h5 class="directors-h5">OPERATIONS MANAGER</h5>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 mt-5">
                <div class="directors-member-wrapper">
                    <h4 class="directors-h4">LAURIE RICKARD</h4>
                    <h5 class="directors-h5">OPERATIONS ASSISTANT</h5>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 mt-5">
                <div class="directors-member-wrapper">
                    <h4 class="directors-h4">MIA GRACE</h4>
                    <h5 class="directors-h5">OPERATIONS ASSISTANT</h5>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 mt-5">
                <div class="directors-member-wrapper">
                    <h4 class="directors-h4">JENNA KEEFE</h4>
                    <h5 class="directors-h5">OPERATIONS ASSISTANT</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<%= render "layouts/shared"%>