<% provide(:title, "Endorsed Training Tools") %>
<section class="tool-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="aboutus-image-wrapper">
                    <%= image_tag "logo2", width:"220", height:"113", alt:"ASLogo2", title:"ASLogo2"%>
                </div>
            </div>
        </div>
        <h3 class="tool-h3">Area Scouts Endorsed Training Tools</h3>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div style=" text-align: center; padding: 60px 60px 45px; font-size: 18px; line-height: 30px;">
                    <a href="https://axiotraining.com/" target="_blank">
                        <%= image_tag '8', class: "partners-logo mb-4" %>
                    </a>
                    <p>
                       One of the great new training tools on the market, AXIO provides
                       strength and stability for the overhead athlete! Quickly strengthen
                       your core, back and shoulders. Boost aerobic conditioning with the shorts intervals.
                       Improve balance, coordination and athleticism. Click on the link above to receive 10% off of
                       your AXIO centripetal Trainer
                    </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div style=" text-align: center; font-style: italic; padding: 60px 60px 45px; font-size: 18px; line-height: 30px;">
                    <a href="https://diamondkinetics.com/" target="_blank">
                        <%= image_tag '1', class: "partners-logo mb-4" %>
                    </a>
                    <p>
                        Pitchings and Hitting Data and Metrics gathering made easy. Diamond
                        Kinetics...
                    </p>
                    <p>
                        (ask casey what he would want written here in a 2 sentence description of DK)
                    </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div style=" text-align: center; font-style: italic; padding: 60px 60px 45px; font-size: 18px; line-height: 30px;">
                    <a href="https://www.powerflexpc.com/product/powerflex-performance-cord-area-scouts/" target="_blank">
                        <%= image_tag '5', class: "partners-logo mb-4" %>
                    </a>
                    <p>
                        The Powerflex Performance Cord will train all the accelerator and decelerator muscles
                        used in a skill with ONE exercise. Because of the two-point attachment, the cord can
                        warm up and strengthen all the muscles invovled in the skill in 2.5 minutes.
                    </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div style=" text-align: center; font-style: italic; padding: 60px 60px 45px; font-size: 18px; line-height: 30px;">
                    <a href="https://www.compex.com/en/" target="_blank">
                        <%= image_tag '3', class: "partners-logo mb-4" %>
                    </a>
                    <p>
                        Compex, a Swiss brand, brings more the 30 years fo expertise in physiotherapy, pain
                        treatment and sports training. Compex is the go-to training essential for health
                        care professionals and top atheletes. Widely known for its portability and 
                        unparalleled training technique.
                    </p>
                </div>
            </div>
    </div>
</section>
<%= render "layouts/shared"%>