<% provide(:title, "Football") %>
<section class="football-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="football-image-wrapper">
                    <%= image_tag "logo2", width:"220", height:"113", alt:"ASLogo2", title:"ASLogo2"%>
                </div>
                <div class="football-header">
                    <h2 class="decorated"><span>OUR FOOTBALL TEAM</span></h2>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="football-member-wrapper">
                    <p>
                        <%= image_tag "dujuan", class:"football-profile-pic" %>
                    </p>
                    <h4 class="football-h4">DUJUAN HARRIS</h4>
                    <h5 class="football-h5">NATIONAL DIRECTOR OF RUNNING BACKS</h5>
                    <p class="football-p">
                        Harris attended Central High School in Brooksville, Florida, where he was an honor student.
                        Known through school by his nickname “Foxx” (Nickname from birth). For his sophomore season
                        efforts, he was named second team All-Area. As a junior, he was a first team All-District,
                        All-Area and All-Region pick. As a senior, he helped lead his high school football team to a
                        District Championship, earning first team All-District, All-Area and All-Region. During his
                        career, he recorded 3,000 rushing yards and 45 touchdowns. He holds the county record for the
                        most yards in a single game with 363 yards and five touchdowns.
                    </p>
                    <p class="football-p">
                        Harris scored his first NFL touchdown on December 9 in a 27–20 win over the Detroit Lions. On
                        January 5, 2013 in the NFC Wild Card game against the Vikings Harris totaled 100 yards in
                        rushing and receiving with a touchdown as the Packers went on to win 24–10. In the NFC
                        Divisional Playoff loss to the San Francisco 49ers, Harris carried the ball 11 times, rushing
                        for 53 yards and a touchdown.
                    </p>
                </div>
                <div class="football-member-wrapper mt-5">
                    <p>
                        <%= image_tag "cecil", class:"football-profile-pic" %>
                    </p>
                    <h4 class="football-h4">CECIL SHORTS</h4>
                    <h5 class="football-h5">NATIONAL DIRECTOR OF WIDE RECEIVERS</h5>
                    <p class="football-p">
                        Shorts was drafted by the Jacksonville Jaguars with the 114th overall pick (4th round) in the
                        2011 NFL Draft.[9][10] Shorts is the highest drafted player in Mount Union history and first
                        player drafted by the Jaguars from a Division III school in franchise history. Shorts played
                        sparingly in his rookie season, catching only two passes for 30 yards and a touchdown in 10
                        games. In 2012 Shorts, led the Jaguars team in receiving yards (979), yards per reception
                        (17.8), and touchdowns (7), with five touchdowns going for 40 yards or longer.
                    </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="football-member-wrapper">
                    <p>
                        <%= image_tag "reggie", class:"football-profile-pic" %>
                    </p>
                    <h4 class="football-h4">REGGIE RUSK</h4>
                    <h5 class="football-h5">NATIONAL DIRECTOR OF DEFENSIVE BACKS / LINEBACKERS</h5>
                    <p class="football-p">
                        Coach Reggie Rusk played football for the University of Kentucky and continued his football
                        career as a NFL cornerback for the Tampa Bay Buccaneers. Reggie Learned early what it takes to
                        become successful. He knows first-hand what a disadvantage it can be to not have the proper
                        information and resources. Reggie has been assisting young athletes for the past 12 years,
                        giving them instruction on how to be successful on and off the field. He has helped so many
                        athletes reach their fullest potential, many of them attending universities such as Texas, Texas
                        A&M, Houston Baptist, Texas state, Kingsville Texas, ETBU, Mc Neese Univ, North Western, Notre
                        Dame, Univ of Houston, Navy, Air Force not to mention, multiple smaller universities and junior
                        colleges.
                    </p>
                </div>
                <div class="football-member-wrapper mt-5">
                    <p>
                        <%= image_tag "mike1", class:"football-profile-pic" %>
                    </p>
                    <h4 class="football-h4">MIKE HOLLIS</h4>
                    <h5 class="football-h5">NATIONAL DIRECTOR OF KICKING/PUNTING</h5>
                    <p class="football-p">
                        <a href="https://www.pro-football-reference.com/players/H/hollimik01.htm">Coach Mike Hollis</a>
                        began his kicking career back in 1985 serving as the kicker on his junior
                        high school football team and continuing throughout high school, college and eventually the NFL.
                        After high school, Coach Hollis chose to play at the community college level and eventually
                        walked on at the University of Idaho (Division 1-AA). He began his professional career in 1994
                        with the San Diego Chargers (pre-season only) and retired in 2003, spending 7 years with the
                        Jacksonville Jaguars, 1 year with the Buffalo Bills, and 1 year with the New York Giants. During
                        that time Coach Hollis (includes playoffs):
                    </p>
                    <p class="football-p">
                        * Played in 132 NFL games throughout career, Connected on 216 of 268 field goals (80.6%), Scored
                        949 points, Had a consecutive streak of 20 field goals, Was voted AFC Special Teams Player of
                        the Week 7 times, Was selected to the 1998 Pro Bowl after leading the NFL in scoring with 134
                        points
                    </p>
                    <p class="football-p">
                        Mike presently holds some very impressive rankings in NFL history. He sits atop some of the
                        highest percentages in field goals over 50 yards (13/19, 68.4%); high accuracy over 40+ yard
                        field goals (63/92, 68.5%); top 10 in field goal accuracy in the playoffs (16/18, 88.8%); and an
                        overall field goal accuracy (80.0%)
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<%= render "layouts/shared"%>