<% provide(:title, "Softball") %>
<section class="softball-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="softball-image-wrapper">
                    <%= image_tag "logo2", width:"220", height:"113", alt:"ASLogo2", title:"ASLogo2"%>
                </div>
                <div class="softball-header">
                    <h2 class="decorated"><span>OUR SOFTBALL TEAM</span></h2>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="softball-member-wrapper">
                    <p>
                        <%= image_tag "karissa", class:"softball-profile-pic" %>
                    </p>
                    <h4 class="softball-h4">KARISSA HOVINGA</h4>
                    <h5 class="softball-h5">SOFTBALL – NATIONAL DIRECTOR OF PITCHING</h5>
                    <p class="softball-p">
                        Karissa Hovinga is a current member of the Canadian National Team, and one of 20 players
                        competing for a 2021 Olympic roster spot. She has played on the Senior National Team since 2012
                        and she has been to four World Championships and one Pan American Games. Karissa played
                        collegiately at the University of Oregon from 2012-2015. At Oregon, she contributed to three
                        Pac-12 Championships and three trips to the Women’s College World Series.
                    </p>
                    <p class="softball-p">
                        Karissa also earned her master’s degree at the University of Minnesota where she served as a
                        graduate manager for the Gopher softball program from 2016-2018. During her time with the
                        Gophers, she served as interim pitching coach for the 2017 non-conference season and boasted a
                        record of 25-2. Karissa broadened her coaching experience from 2018-2020 when she served as the
                        Volunteer Assistant for the Stanford Cardinal softball program.
                    </p>
                    <p class="softball-p">
                        Karissa is excited for the opportunity to be able to reach students all around the country and
                        beyond through the Area Scouts platform.
                    </p>
                </div>
                <div class="softball-member-wrapper mt-5">
                    <p>
                        <%= image_tag "alyssa", class:"softball-profile-pic" %>
                    </p>
                    <h4 class="softball-h4">ALYSSA REINA</h4>
                    <h5 class="softball-h5">SOFTBALL – NATIONAL DIRECTOR OF CATCHING</h5>
                    <p class="softball-p">
                        Alyssa Reina, A native from Auburn, California, Alyssa has been in the game of softball both as
                        a player and coach for over a decade. Following a decorated career as a catcher at a Division I
                        University from 2012-2017, she continued on to coach for a Power 5 program for 4 seasons. During
                        her time there, she developed numerous All-American catchers as well as helped lead the program
                        to their first ever Women’s College World Series appearance. In addition to her coaching duties,
                        she was also the Camp Director for the program as well as gave catching lessons at numerous
                        sport facilities. As of May 2021, she will have also contributed two years as a Graduate Manager
                        for the program and will have completed a Master’s program in Sports Management.
                    </p>
                    <p class="softball-p">
                        Alyssa is excited to use her knowledge from both coaching and playing in Division I softball to
                        impact the many athletes striving to reach the next level. Joining the Area Scouts team will
                        allow her to use her passion for the game to develop athletes to reach their fullest potential.
                    </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="softball-member-wrapper">
                    <p>
                        <%= image_tag "joey", class:"softball-profile-pic" %>
                    </p>
                    <h4 class="softball-h4">JOEY LYE</h4>
                    <h5 class="softball-h5">SOFTBALL – NATIONAL DIRECTOR OF FIELDING</h5>
                    <p class="softball-p">
                        Proud native of Toronto, Canada, Joey Lye joins the Area Scouts team with more than 10 years of
                        professional and international experience as both an outfielder and infielder. Since joining the
                        Canadian National Team in 2010, she has played multiple infield and multiple outfield positions
                        and was Team Captain from 2013-2017. Joey is an active athlete within three professional
                        organizations- the brand-new Athletes Unlimited, Canadian Wild of Southern Illinois, and Team
                        Canada.
                    </p>
                    <p class="softball-p">
                        Following her graduation from Williams College in 2009 with an undergraduate degree in
                        Psychology and a Master’s in Coaching and Athletic Administration from Concordia University,
                        Joey began her NCAA coaching career in both softball and ice hockey spending two years at her
                        alma mater before landing her first head softball coach position in 2011. Joey is excited to use
                        her six years of NCAA Division III and three years of NCAA Division I softball head coaching
                        experience to help her thrive in her role as the National Director of Fielding for Softball.
                    </p>
                    <p class="softball-p">
                        Currently living in Pennsylvania, Joey is actively training for the 2021 Summer Olympics in
                        Tokyo.
                    </p>
                    <p class="softball-p">
                        Joey is excited to impact the next generation of softball players. She believes strongly in
                        mental approach, pre-pitch preparation, and building solid muscle memory to develop
                        championship-level defense.
                    </p>
                </div>
                <div class="softball-member-wrapper mt-5">
                    <p>
                        <%= image_tag "jordan", class:"softball-profile-pic" %>
                    </p>
                    <h4 class="softball-h4">JORDAN ROBERTS</h4>
                    <h5 class="softball-h5">SOFTBALL – NATIONAL DIRECTOR OF HITTING</h5>
                    <p class="softball-p">
                        Jordan Roberts, from Live Oak, Florida, just finished up her rookie season this past fall in
                        Chicago with the new professional league Athletes Unlimited. Prior to finishing up her
                        collegiate career at The University of Florida in Gainesville, Florida, she contributed to two
                        SEC Conference championships and two regular season championships, as well as three appearances
                        at the Women’s College World Series as their catcher. Her senior year ended with only 27 games
                        played due to COVID-19, but Jordan felt it was time to pursue a professional career. Not only is
                        she currently preparing for her next professional season, but she is going on her third year as
                        a hitting instructor and just secured a position as a high school varsity coach at her alma
                        mater.
                    </p>
                    <p class="softball-p">
                        Jordan is so excited to be joining the Area Scouts team. Not only is she proud to serve her
                        local softball community, but she is eager to share her experiences and knowledge with softball
                        players all over the country.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<%= render "layouts/shared"%>