<% if current_page?(football_team_path) %>
    <section class="coming-section">
        <div class="container">
            <h1 class="coming-h1">ANNOUNCEMENTS COMING SOON.....</h1>
            <div>
                <p class="coming-p">National Director of Quarterbacks</p>
                <p class="coming-p">National Director of Tight Ends</p>
                <p class="coming-p">National Director Of Linemen</p>
            </div>
        </div>
    </section>
<% end %>

<section class="partners-section">
    <div class="container">
        <h1 class="partners-h1">Our Partners</h1>
        <div class="row mt-5">
            <div class="col-lg-4 col-md-4 col-sm-12 text-center partners-mb">
                <a href="https://diamondkinetics.com/" target="_blank">
                    <%= image_tag '1', class: "partners-logo" %>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-center partners-mb">
                <a href="https://www.neaaubaseball.org/" target="_blank">
                    <%= image_tag '2', class: "partners-logo" %>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-center partners-mb">
                <a href="https://www.compex.com/en/" target="_blank">
                    <%= image_tag '3', class: "partners-logo" %>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-center partners-mb">
                <a href="https://www.cleanfuego.com/" target="_blank">
                    <%= image_tag '4', class: "partners-logo" %>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-center partners-mb">
                <a href="https://www.powerflexpc.com/product/powerflex-performance-cord-area-scouts/" target="_blank">
                    <%= image_tag '5', class: "partners-logo" %>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-center partners-mb">
                <a href="https://www.sportsthread.com/" target="_blank">
                    <%= image_tag '6', class: "partners-logo" %>
                </a>
            </div>

            <div class="col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-12 text-center partners-mb">
                <a href="https://www.thescouthub.com/" target="_blank">
                    <%= image_tag '7', class: "partners-logo" %>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="sports-section">
    <div class="container">
        <h1 class="sports-h1">Sports</h1>
        <div class="row mt-5">
            <div class="col-lg-3 col-md-3 col-sm-12 text-center partners-mb">
                <div class="sports-wrapper">
                    <i class="fas fa-baseball-ball fa-lg sports-fontawesome"></i>
                    <h4 class="sports-h4">Baseball</h4>
                    <div class="mt-4">
                        <p>
                            <%= link_to "Sign up Now!", "https://app.areascouts.com/users/sign_up", class:"as-sign-up-btn", target:"_blank" %>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 text-center partners-mb">
                <div class="sports-wrapper">
                    <i class="fas fa-baseball-ball fa-lg sports-fontawesome"></i>
                    <h4 class="sports-h4">Softball</h4>
                    <div class="mt-4">
                        <p>
                            <%= link_to "Sign up Now!", "https://app.areascouts.com/users/sign_up", class:"as-sign-up-btn", target:"_blank" %>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 text-center partners-mb">
                <div class="sports-wrapper">
                    <i class="fas fa-hockey-puck fa-lg sports-fontawesome"></i>
                    <h4 class="sports-h4">Hockey</h4>
                    <div class="mt-4">
                        <p>
                            <%= link_to "Coming Soon!", "#", class:"as-sign-up-btn", target:"_blank" %>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 text-center partners-mb">
                <div class="sports-wrapper">
                    <i class="fas fa-volleyball-ball fa-lg sports-fontawesome"></i>
                    <h4 class="sports-h4">Volleyball</h4>
                    <div class="mt-4">
                        <p>
                            <%= link_to "Coming Soon!", "#", class:"as-sign-up-btn", target:"_blank" %>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 text-center partners-mb">
                <div class="sports-wrapper">
                    <i class="fas fa-basketball-ball fa-lg sports-fontawesome"></i>
                    <h4 class="sports-h4">Basketball</h4>
                    <div class="mt-4">
                        <p>
                           <%= link_to "Coming Soon!", "#", class:"as-sign-up-btn", target:"_blank" %>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 text-center partners-mb">
                <div class="sports-wrapper">
                    <i class="fas fa-futbol fa-lg sports-fontawesome"></i>
                    <h4 class="sports-h4">Soccer</h4>
                    <div class="mt-4">
                        <p>
                           <%= link_to "Coming Soon!", "#", class:"as-sign-up-btn", target:"_blank" %>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 text-center partners-mb">
                <div class="sports-wrapper">
                    <i class="fas fa-football-ball fa-lg sports-fontawesome"></i>
                    <h4 class="sports-h4">Football</h4>
                    <div class="mt-4">
                        <p>
                            <%= link_to "Sign up Now!", "https://app.areascouts.com/users/sign_up", class:"as-sign-up-btn", target:"_blank" %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="socials-section">
    <div class="socials">
        <div class="row">
            <div class="col-3 stm-social">
                <a href="https://www.facebook.com/groups/areascouts" target="_blank" class="socials-a">
                    <i class="fa fa-facebook"></i>
                </a>
            </div>
        

            <div class="col-3 stm-social">
                <a href="https://twitter.com/areascouts" target="_blank" class="socials-a">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        
            <div class="col-3 stm-social">
                <a href="https://www.youtube.com/channel/UCFrKA1TEKpoWzeOaFwrr-mw" target="_blank" class="socials-a">
                    <i class="fa fa-youtube"></i>
                </a>
            </div>
        
            <div class="col-3 stm-social">
                <a href="https://www.linkedin.com/company/area-scouts" target="_blank" class="socials-a">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</section>